<% @order_items.each do |item| %>
<h4><%= item.product_listing.name %></h4>
<h4><%= item.product_listing.price %></h4>
<%= form_with model: item do |f| %>
    <%= f.hidden_field :product_listing_id, value: item.product_listing.id %>
    <%= f.number_field :quantity, value: item.quantity.to_i %>
    <%= f.submit "Update Cart" %>
    <%= link_to "Remove Item", item, method: :delete, remote: true %>
<% end %>
<h5>Subtotal: <%= item.total %></h5>
<% end %>

    <h5>Your current order has a total of: $<%= current_order.subtotal %></h5>

 <h4>You haven't added anything to your cart yet!</h4>
