<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>



  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>          
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first name" }%>
    <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last name" }%>
    <%= f.input :contact_number,
                  required: true,
                  autofocus: true,
                    input_html: { autocomplete: "contact number" }%>
    <%= f.input :address,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "address" }%>
    <%= f.input :suburb,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Suburb" }%>
    <%= f.input :state, collection: ["QLD", "NSW", "VIC", "NT", "SA", "WA", "ACT"],
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "State" }%>
    <%= f.input :postcode,
                  required: true,
                  maxlength: true,
                  maxlength: 4,
                  autofocus: true,
                  input_html: { autocomplete: "Postcode" }%>                                 
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links", class: "btn btn-primary" %>
