
<%= simple_form_for(@product_listing) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :brand, collection: ["Louis Vuitton", "Chanel", "Gucci", "Dior", "Hermes", "Prada"] %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :category, collection: ["Shoulder Bag", "Tote", "Clutch"] %>
    <%= f.input :colour, collection: ["Black","Navy", "White", "Red", "Other"] %>
    <% if current_user.has_role? :admin %>
    <%= f.input :approved %>
    <%end%>
    <p><strong>Please email your item's serial number or receipt to luxethique1@gmail.com</strong></p>
    <%= f.file_field :image %>
  </div>
<p><strong>Please note submissions may take up to 2 working days to be processed.
  You will be contacted in the event of issue.</strong>
</p>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
