<p id="notice"><%= notice %></p>

<h1>Wardrobe</h1>


<% @product_listings.each do |product_listing| %>
  <% if product_listing.approved == true  %>
    <div class="row">
      <div class="card" style="width: 18rem;">
        <p><%= cl_image_tag(product_listing.image.key, crop: :scale, width: 285, cloud_name: 'ashlii')%></p>
          <div class="card-body">
            <h5 class="card-title">
              <p>
                <strong>Name:</strong>
                <%= product_listing.name %>
              </p>
              <p>
                <strong>Brand:</strong>
                <%= product_listing.brand %>
              </p></h5>
            <p class="card-text">
              <p>
                <strong>Description:</strong>
                <%= product_listing.description %>
              </p>
              <p>
                <strong>Price:</strong>
                $<%= product_listing.price %>
              </p>
          
              <p>
                <strong>Category:</strong>
                <%= product_listing.category %>
              </p>

              <p>
                <strong>Colour:</strong>
                <%= product_listing.colour %>
              </p>
          
          </div>
  <%end%>
<%end%>


<%= link_to 'New Product Listing', new_product_listing_path %>
