<p id="notice"><%= notice %></p>

<h1 class="wardrobe">Wardrobe</h1>

<div class="row">
  <% @product_listings.each do |product_listing| %>
    
        <% if product_listing.approved == true  %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <%= cl_image_tag(product_listing.image.key, crop: :scale, width: 280, cloud_name: 'ashlii')%>
            <h5 class="card-title">
              <p></p>
                <strong>Name:</strong>
                <%= product_listing.name %>
              </p>
              <p>
                <strong>Brand:</strong>
                <%= product_listing.brand %>
              </p></h5>
            <p class="card-text">
              <p>
                <strong>Price:</strong>
                $<%= product_listing.price %>
              </p>
          
              <p>
                <strong>Category:</strong>
                <%= product_listing.category %>
              </p>

              <p>
                <strong>Colour:</strong>
                <%= product_listing.colour %>
              </p>
          <%= link_to 'Show', product_listing, class: "btn btn-primary btn-lg" %>
        </div>
      </div>

        <%end%>
    
      
  <%end%>

</div>


<%= will_paginate @product_listings %>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<%= link_to 'New Product Listing', new_product_listing_path, class: "btn btn-primary" %>
