<div class="row">
  <div class="card" style="width: 18rem;">
    <p><%= cl_image_tag(@product_listing.image.key, crop: :scale, width: 285, cloud_name: 'ashlii')%></p>
      <div class="card-body">
        <h5 class="card-title">
          <% if can? :update, @product_listing %>
            <strong>This is your listing</strong>
          <%end%>

          <p>
            <strong>Name:</strong>
            <%= @product_listing.name %>
          </p>
          <p>
            <strong>Brand:</strong>
            <%= @product_listing.brand %>
          </p></h5>
        <p class="card-text">
          <p>
            <strong>Description:</strong>
            <%= @product_listing.description %>
          </p>
          <p>
            <strong>Price:</strong>
            $<%= @product_listing.price %>
          </p>
          
          <p>
            <strong>Category:</strong>
            <%= @product_listing.category %>
          </p>

          <p>
            <strong>Colour:</strong>
            <%= @product_listing.colour %>
          </p>
          <%= form_with model: @order_item do |f| %>
          <%= f.hidden_field :product_listing_id, value: @product_listing.id %>
          <%= f.number_field :quantity, value: 1, min: 1 %>
          <%= f.submit "Add to cart" %>
          <% end %> 
          
          <% if can? :update, @product_listing %><%= link_to 'Edit', edit_product_listing_path(@product_listing)%>
          <%end%>          
          <% if current_user.has_role? :admin %>
            <%= link_to "Back to Admin View", admin_path, method: :get, class: "nav-link" %>
          <%end%>
</div>

  <%= link_to 'Back to Wardrobe', product_listings_path %>
