<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_listing.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product_listing.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_listing.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product_listing.category %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product_listing.colour %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @product_listing.approved %>
</p>

<p>
  <strong>User:</strong>
  <%= @product_listing.user_id %>
</p>

<%= link_to 'Edit', edit_product_listing_path(@product_listing) %> |
<%= link_to 'Back', product_listings_path %>
