<div class="row">
  <div class="card" style="width: 18rem;">
    <p><%= cl_image_tag(@product_listing.image.key, crop: :scale, width: 285, cloud_name: 'ashlii')%></p>
      <div class="card-body">
        <h5 class="card-title">
          <% if current_user.id == @product_listing.user_id %>
            <strong>This is your listing</strong>
          <%end%>

          <p>
            <strong>Name:</strong>
            <%= @product_listing.name %>
          </p>
          <p>
            <strong>Brand:</strong>
            <%= @product_listing.brand %>
          </p></h5>
        <p class="card-text">
          <p>
            <strong>Description:</strong>
            <%= @product_listing.description %>
          </p>
          <p>
            <strong>Price:</strong>
            $<%= @product_listing.price %>
          </p>
          
          <p>
            <strong>Category:</strong>
            <%= @product_listing.category %>
          </p>

          <p>
            <strong>Colour:</strong>
            <%= @product_listing.colour %>
          </p>
          <%= form_with model: @order_item do |f| %>
          <%= f.hidden_field :product_listing_id, value: @product_listing.id %>
          <%= f.number_field :quantity, value: 1, min: 0, max: 1 %>
          <%= f.submit "Add to cart", class: "nav-link" %>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
          </svg>
          <% end %> 
          <%= link_to "View Cart", cart_path, method: :get, class: "nav-link" %>
          
          <% if can? :update, @product_listing %>
          <%= link_to 'Edit', edit_product_listing_path(@product_listing)%>
          <%end%>          
          <% if current_user.has_role? :admin %>
            <%= link_to "Back to Admin View", admin_path, method: :get, class: "nav-link" %>
          <%end%>
</div>

  <%= link_to 'Back to Wardrobe', product_listings_path %>
