<h1>Dashboard</h1>

<h2>Product Listings</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Price</th>
      <th>Approved</th>
      <th>Image</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_listings.each do |product_listing| %>
      <tr>
        <td><%= product_listing.name %></td>
        <td><%= product_listing.brand %></td>
        <td><%= product_listing.description %></td>
        <td><%= product_listing.price %></td>
        <td><%= product_listing.approved %></td>
        <td><%= cl_image_tag(product_listing.image.key, crop: :scale, width: 100, cloud_name: 'ashlii')%></td>
        <td><%= product_listing.user_id %></td>
        <td><%= link_to 'Show', product_listing %></td>
        <% if current_user.has_role? :admin %>
          <td><%= link_to 'Edit', edit_product_listing_path(product_listing) %></td>
          <td><%= link_to 'Destroy', product_listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
    <%= will_paginate @product_listings %>
  </tbody>
</table>

<h2>Users</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Street Number</th>
        <th>Street Name</th>
        <th>Suburb</th>
        <th>State</th>
        <th>Postcode</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>


      <% @user.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.email %></td>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= u.contact_number %></td>
          <td><%= u.address %></td>
          <td><%= u.suburb %></td>
          <td><%= u.state %></td>
          <td><%= u.postcode %></td>
          <td><%= link_to 'Destroy', '/users', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>

<br>
<h2>Sales</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Product</th>
        <th>Buyer ID</th>
        <th>Seller ID</th>
        <th>Amount</th>
       
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.product_listing_id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.seller_email%></td>
        <td><%= order.amount %></td>
      </tr>
    <% end %>


    </tbody>
  </table>


<%= link_to 'Back to Wardrobe', product_listings_path %>
