<!DOCTYPE html>
<html>
  <head>
    <title>LE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <div class="container">
      <% if current_user %>
       <%= "  Logged in as #{current_user.first_name} #{current_user.last_name}"%>
      <%end%>
    
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  
  
  
  </div>

  <footer> 
    <p>
      Luxe Ethique©2020 
    </p>
  </footer> 
  </body>
</html>
